<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MBJJR</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/img/favicon.png}" rel="icon">
  <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet">
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <img th:src="@{/img/oval_photo.jpeg}" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">Maurice Johnson</a></h1>
      <div class="social-links mt-3 text-center">
        <a th:href="@{mailto:mbjjr95@gmail.com}" class="gmail" target="_blank"><i class="bi bi-google"></i></a>
        <a th:href="@{https://www.linkedin.com/in/mauricej95/}" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a th:href="@{#hero}" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a id="aboutButton" th:href="@{#about}" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a th:href="@{#contact}" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>Maurice Johnson</h1>
    <p><span class="typed" data-typed-items="Developer, Software Engineer, Freelancer"></span></p>
  </div>
</section>

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>About</h2>
        <p>Contact me for general Web Development freelance work or intermediate Java tutoring...</p>
      </div>
    </div>
  </section>

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
        <h2>Contact</h2>
        <p>Fill out the below form to get in contact with me...</p>
      </div>

      <div class="row" data-aos="fade-in">
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Connecticut, USA</p>
            </div>
            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>mbjjr95@gmail.com</p>
            </div>
            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+1203-873-8099</p>
            </div>
            <iframe th:src="@{https://www.google.com/maps/embed?...}" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form role="form" class="email-form" method="post">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" class="form-control" id="firstName" required>
              </div>
              <div class="form-group col-md-6">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name="lastName" id="lastName" required>
              </div>
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea id="message" class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>
      </div>
    </div>
  </section>

</main>

<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>MJ</span></strong>
    </div>
  </div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/vendor/aos/aos.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{/vendor/purecounter/purecounter.js}"></script>
<script th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/vendor/typed.js/typed.min.js}"></script>
<script th:src="@{/vendor/waypoints/noframework.waypoints.js}"></script>
<script th:src="@{/vendor/jquery/jquery-3.6.0.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>
