<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>codebyMJ</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/img/favicon.ico}" rel="icon">

  <!-- Google Fonts -->
  <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet">
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link th:href="@{/css/style.css}" rel="stylesheet">

  <!-- Vendor JS Files -->
  <script th:src="@{/vendor/aos/aos.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
  <script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
  <script th:src="@{/vendor/purecounter/purecounter.js}"></script>
  <script th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
  <script th:src="@{/vendor/typed.js/typed.min.js}"></script>
  <script th:src="@{/vendor/waypoints/noframework.waypoints.js}"></script>
  <script th:src="@{/vendor/jquery/jquery-3.6.0.js}"></script>

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img th:src="@{/img/oval_photo.jpeg}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light">Maurice Johnson</h1>
        <div class="social-links mt-3 text-center">
          <a th:href="@{mailto:mbjjr95@gmail.com}" class="gmail" target="_blank"><i class="bi bi-google"></i></a>
          <a th:href="@{https://www.linkedin.com/in/mauricej95/}" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a th:href="@{https://github.com/johnsonmau}" target="_blank" class="github"><i class="bx bxl-github"></i></a>
          <a th:href="@{https://www.youtube.com/channel/UC0kEXeqojM8RqUCejco4_jg}" target="_blank" class="youtube"><i class="bx bxl-youtube"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a id="aboutButton" href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>

    <footer style="text-align: center; position: absolute; bottom: 0; left: 0; width: 100%; padding-bottom: 10px; font-size: 13px;">
      <div class="container" style="margin: 0 auto; display: flex; justify-content: center; width: 100%;">
        <div class="privacyPolicy">
          <a href="/privacy">Privacy Policy</a>
        </div>
      </div>
      <div class="container" style="margin: 0 auto; display: flex; justify-content: center; width: 100%;">
        <div class="copyright" style="color: #fff">
          &copy; Copyright <strong><span>codebyMJ.com</span></strong>
        </div>
      </div>
    </footer>


  </header><!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Maurice Johnson</h1>
      <p><span class="typed" data-typed-items="Developer, Software Engineer, Freelancer, Consultant, Tutor"></span></p>
    </div>

  </section><!-- End Hero -->


  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about container">

        <div class="section-title">
          <h2>About</h2>
          <p>
            Welcome to codebyMJ! I'm Maurice, a Software Engineer with over 7 years of experience specializing
            in web development, APIs, and DevOps. I offer expertise in Java, JavaScript, HTML, CSS
            and frameworks and libraries like Spring Boot, Hibernate, Bootstrap, and more. Whether you're looking for guidance
            on full-stack development, API integrations, or DevOps solutions, I've got you covered.
            I also run a home lab, where I self-host services like Home Assistant,
            Zigbee2MQTT, Pi-hole, Jenkins, Nexus, and much more, providing hands-on experience in server management and automation.
            Beyond development, I share my knowledge through my YouTube
            <strong><a href="https://www.youtube.com/channel/UC0kEXeqojM8RqUCejco4_jg">channel</a></strong>, where I
            create tutorials on programming, RESTful APIs, and software engineering concepts. If you need freelance work,
            tutoring, consulting, or project assistance of any kind, let's connect and bring your ideas to life!
          </p>
          <br>
          <p>If you're looking for tutoring, project help, or DevOps consulting, feel free to reach out so we can discuss my rates in detail:</p>
          <br><br>
          <h2>Tutoring (Hourly)</h2>
          <ul>
            <li><strong>Beginner</strong></li>
            <li><strong>Intermediate</strong></li>
            <li><strong>Advanced</strong></li>
          </ul>

          <h2>Freelance Development (Project-Based or Hourly)</h2>
          <ul>
            <li><strong>Small Fixes & Debugging</strong></li>
            <li><strong>Landing Pages / Static Websites</strong></li>
            <li><strong>Dynamic Websites & Full-Stack Applications</strong></li>
            <li><strong>Custom API Development & Integrations</strong></li>
            <li><strong>DevOps Consulting & Server Setup</strong></li>
          </ul>

          <h2>Home Lab & Self-Hosting Consulting</h2>
          <ul>
            <li><strong>Basic Setup</strong></li>
            <li><strong>Advanced</strong></li>
          </ul>

          <!-- ======= Skills Section ======= -->
          <section id="skills" class="skills section-bg">
            <div class="container">

              <div class="section-title">
                <h2>Skills</h2>
              </div>

              <div class="row skills-content">

                <div class="col-lg-6" data-aos="fade-up">
                  <div class="progress">
                    <span class="skill">Java</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 85%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">Spring Boot</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 80%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">Python</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 70%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">JavaScript</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 75%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">SQL (Oracle, MySQL, SQL Server)</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 80%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">API Development</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 80%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">GitHub</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 85%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">Jenkins</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 70%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">Maven</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 75%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">HTML</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 90%;"></div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="progress">
                    <span class="skill">CSS</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 85%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">Docker</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 60%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">AWS (ECS, OpenShift)</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 70%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">Agile & Scrum</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 80%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">Tomcat</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 75%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">Ubuntu</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 80%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">Raspberry Pi OS</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 65%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">Windows</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 85%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">macOS</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 80%;"></div>
                    </div>
                  </div>
                  <div class="progress">
                    <span class="skill">Selenium</span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" style="width: 70%;"></div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </section>
          <!-- End Skills Section -->
      </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Fill out the below form to get in contact with me. In the <strong>Message</strong> text box, be sure to include the service you need me to provide, along with any other questions. I will respond with an email as soon as possible.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <p>Connecticut, USA</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <p>mbjjr95@gmail.com</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47614.497712682314!2d-72.71510638383808!3d41.765682133057645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e65311f21151a5%3A0xcc8e4aa8e97d5999!2sHartford%2C%20CT!5e0!3m2!1sen!2sus!4v1620849680013!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form role="form" class="email-form" method="post">
              <div class="row">
                <div class="form-group col-md-6">
                  <label id="fName" for="firstName" data-toggle="tooltip" title="Hooray!" data-severity="danger">First Name</label>
                  <input type="text" name="firstName" class="form-control" id="firstName" required>
                </div>
                <div class="form-group col-md-6">
                  <label id="lName" for="lastName">Last Name</label>
                  <input type="text" class="form-control" name="lastName" id="lastName" required>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label id="emailLabel" for="email">Email</label><small id="emailFormWarn" style="color: red">
                  - Please enter a valid email address.</small>
                  <input type="email" name="email" class="form-control" id="email" required>
                </div>
                <div class="form-group col-md-6">
                  <label id="subLabel" for="subject">Message Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject" required>
                </div>
              </div>
              <div class="form-group">
                <label id="messageLabel" for="message">Message</label>
                <textarea id="message" class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="text-center">
                <button onclick="customSubmit(event)" id="sendContactButton" type="submit">Send Message</button>
                <!-- Spinner (hidden by default) -->
                <div id="spinner">
                  <div class="spinner-border text-black-50" role="status">
                    <span class="sr-only"></span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </section>
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Template Main JS File -->
  <script th:src="@{/js/index.js}"></script>
  <script th:src="@{/js/main.js}"></script>
</body>

</html>